langchain==0.1.0
langchain-community==0.0.13
langchain-openai==0.0.5
azure-identity==1.19.0
pypdf==3.17.4
chromadb==0.4.22
python-dotenv==1.0.0
streamlit==1.29.0
tiktoken==0.5.2
faiss-cpu==1.7.4
streamlit-audiorecorder==0.0.5
openai>=1.0.0
pydub==0.25.1
azure-cognitiveservices-speech
